In [7]:
import pandas as pd

# Putting AmesHousing.txt data into a dataframe - https://github.com/marcelpinheiro/malum/blob/master/AmesHousing.txt
data = pd.read_csv('AmesHousing.txt', encoding='UTF-8', delimiter='\t')
data = data.fillna(0) #Replace all Nan values to 0

data.head(5)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,0,IR1,Lvl,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,0,Reg,Lvl,...,0,0,MnPrv,0,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,0,IR1,Lvl,...,0,0,0,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,0,Reg,Lvl,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,0,IR1,Lvl,...,0,0,MnPrv,0,0,3,2010,WD,Normal,189900

### Pandas get_dummies

In [11]:
# Get dummies
data_gd = pd.get_dummies(data, prefix_sep='_', drop_first=True)
# X head
data_gd.head(5)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,0,0,0,0,1,0,0,0,1,0
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,0,0,0,0,1,0,0,0,1,0
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,0,0,0,0,1,0,0,0,1,0
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,0,0,0,0,1,0,0,0,1,0
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,0,0,0,0,1,0,0,0,1,0

### Sklearn DictVectorizer

In [9]:
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False, dtype=int)

VecValues = vec.fit_transform(data.to_dict(orient='records')) #To work right, we have to convert our dataframe to a dict
VecColNames = vec.get_feature_names()

#Converting the string features/columns into int and put into a dataframe (again)
df_dv = pd.DataFrame(VecValues, columns = VecColNames) 

df_dv.head(5)

,1st Flr SF,2nd Flr SF,3Ssn Porch,Alley,Alley=Grvl,Alley=Pave,Bedroom AbvGr,Bldg Type=1Fam,Bldg Type=2fmCon,Bldg Type=Duplex,...,Street=Pave,TotRms AbvGrd,Total Bsmt SF,Utilities=AllPub,Utilities=NoSeWa,Utilities=NoSewr,Wood Deck SF,Year Built,Year Remod/Add,Yr Sold
0,1656,0,0,0,0,0,3,1,0,0,...,1,7,1080,1,0,0,210,1960,1960,2010
1,896,0,0,0,0,0,2,1,0,0,...,1,5,882,1,0,0,140,1961,1961,2010
2,1329,0,0,0,0,0,3,1,0,0,...,1,6,1329,1,0,0,393,1958,1958,2010
3,2110,0,0,0,0,0,3,1,0,0,...,1,8,2110,1,0,0,0,1968,1968,2010
4,928,701,0,0,0,0,3,1,0,0,...,1,6,928,1,0,0,212,1997,1998,2010