In [1]:
import pandas as pd
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10


df = pd.read_excel('AmesHousing.xls')
df

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,...,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,...,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,...,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,...,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,...,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,...,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,...,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,...,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,...,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,...,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,...,11,2006,WD,Normal,188000

In [ ]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=96.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…